* {
<<<<<<< HEAD
width: 100%;
}
body {
  background-color: #EEEEEE;
}



#div-style {
  height: 50px;
  width: 1024px;
  background-color: white;
  position: relative;
  font-size: 100%;
  padding: 7px 30px 8px;
  display: flex;

}

.div-btns {
  align-items: center;
  background-color: white;
  display: flex;

}


.btn-ham {
  width: 38px;
  height: 30px;
  border: none;
  background-color: white;
  padding: 0px 10px;
  margin: 0px 0px 0px -7px;
  vertical-align: middle;
}

.hamburguer {
  height: 16px;
  width: 16px;
}

.youtube-logo {
  height: 40px;
  width: 100px;
  margin-right: 30px;
  margin-left: 20px;

}

.div-input{
  display: flex;
}


.btn-search {
  width: 50px;
  height: 27px;
  border-width:1px;
  border-color: #EEEEEE;
  margin-left: -1px;
  padding: 0px;
  background-color: #F8F8F8;

}

.search {
  width:15px;
  height:15px;
  display: inline-block;

}
.anc-upload {
  height: 34px;
  width: 22px;
  margin-left: 30px;
  padding: 0px 10px;

}

.logos {
  float: left;
  position: relative;
  width: 200px;
  height: 33px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-logo {
  width:24px;
  height:24px;
}

.btn-sign {
  width: 55px;
  height: 28px;
  background-color: #167AC6;
  border-radius: 2px;
  border-style: none;
  padding: 0px 0px;
  margin-right: 50px;

}

.sign-text {
  color: #FFF;
  font-size: 11px;
  text-align: center;
}

.search-bar {
  width: 550px;
  height: 27px;
  border-style: solid;
  box-sizing: border-box;
  position: relative;
  border-width:1px;
  border-color: #EEEEEE;
  text-decoration-color: #EEEEEE;
  font-size: 12px;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 1px;

}
.last-btns {
  margin-right: 50px;
  width: 117px;
  height: 28px;
  display: flex;
  align-items: right;
  justify-content: center;
}

.sgn-btn {

}

.btn-ham:hover{
  background-color: #EEEEEE;
  box-shadow: 1px 2px 2px #888888;
  border-radius: 1px;
}

.btn-search:hover {
  background-color: #EEEEEE;
  box-shadow: 1px 2px 2px #888888;
  border-radius: 1px;
}
.btn-sign:hover{
  background-color: red;
  box-shadow: 1px 2px 2px #888888;
}

.main-div {
  display: flex;
  flex-direction: row;
  width: 1084px;
  margin-top: 15px;

}

.div-prsn {
  width: 56px;
  height: 36px;
  background-color: #267AC6;
  padding: 0px 13px;

}

.qstn-prsn {
  width: 35px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 13px;
}

.language-text {
  color: white;
  background-color: #267AC6;
  font-size: 13px;
  font-family: 'Noto Sans', sans-serif;
  width: 1000px;
  height: 29px;
  font-size: 100%;
  padding-top: 7px;

}

.div-x-btn {
  width: 46px;
  height: 36px;
  background-color: #267AC6;
  padding: 0px 13px;
  vertical-align: center;

}

.x-btn {
  width: 20px;
  height: 20px;
  margin: 6px 0px;
  color: white;
  background-color: #267AC6;
  border: none;

}

.preferences {
    width:1042px;
    height: 30px;
    border-width: 2px;
    border-color: #267AC6;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid #267AC6;
    font-family: 'Noto Sans', sans-serif;
}

.preference-blw{
  text-decoration: none;
  color: #b8d7ed ;
}

.learn-more {
  text-decoration: none;
  font-size: 11px;
  color: #b8d7ed ;
  padding-left: 370px;
=======
  width: 90%;
}

.nav-style {

  background-color: red;

>>>>>>> master
}
.div-video{
  width: 639px;
  height: 360px;
  margin-top: 20px;

}
.video{
  height: 100%;
  width: 100%;
}
.info-video{
  height: 210px;
  width: 640px;
  background-color: #FFFFFF;
  margin-top: 10px;

}

.name-video{
  height: 150px;
  width: 640px;
  padding-left: 15px;
  padding-top: 5px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  letter-spacing: .1px;

}
.div-t{
  height: 48px;
  width: 48px;
  background-color: #689F39;


}
.t{
  font-size: 35px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 13px;
  display: flex;

}

.odin-div {
  position: relative;
  bottom: 50px;
  right: 20px;

}
.odin{
  color: #000000;
  font-weight: bold;
  margin-left: 80px;
}



.yt-icon {
  width: 16px;
  height: 12px;
  margin-top: 6;
}

.yt-btn {
  width: 90px;
  height: 24px;
  font-size: 12px;
  background-color: red;
  border: 1px solid red;
  border-radius: 2px;
  color: white;

}

.n-views {
  font-size: 11px;
  color: #73737373;
  border: 1px solid #73737373;
  width: 34px;
  height: 24px;
  padding: 3px 6px 4px 7px;
  margin: 0px 0px 0px -4px;
  border-radius: 2px;
}

.subscribe {
  position: relative;
  bottom: 45px;
  left: 60px;
}

.div-views {
  position: relative;
  left: 500px;
  bottom: 69px;
  width: 120px;
  height: 15px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 19px;
  color: grey;
}

.line {
  position: relative;
  bottom: 60px;
  width: 610px;
  right: 15px;
  color: black;

}

.line-blue {
  position: relative;
  bottom: 72px;
  width: 125px;
  left: 218px;
  border: 2px solid #257ac6;

}

.line-gray {
  position: relative;
  bottom: 83px;
  width: 5px;
  left: 286px;
  border: 2px solid #e3e3e3;

}

.material-icons {
  opacity:0.54;
=======
  width: 90%;
}

.nav-style {

  background-color: red;

>>>>>>> master
}
