* {
  width: 90%;
}
body {
  background-color: #EEEEEE;
}

#div-style {
  height: 5em;
  width: 1024px;
  background-color: #FFFFFF;
  grid-template-areas: 'z y y y y'
                       'x center center center w'
                       'x center center center w'
                       'x z z z z';
}

.div-btns {
  align-items: center;
  justify-items: end;

}


.btn-ham {
  width: 38px;
  height: 30px;
  border: none;

}

.hamburguer {
  height: 16px;
  width: 16px;
}

.youtube-logo {
  height: 40px;
  width: 100px;

}
